.section-header {
  max-inline-size: 600px;
  margin-inline: auto;
  margin-block-end: 40px;

  @include breakpoint(lg) {
    margin-block-end: 60px;
  }

  .subtitle {
    @include font-size(18px);
    font-weight: 600;
    color: $brand-color;
  }

  h2 {
    @extend %mb-15;
  }
}
